<div class="panel panel-default">
  <div class="panel-heading">
    <h3>About Us</h3>
  </div>
  <div class="panel-body">
    <p>Dear Mr. Vernon, we accept the fact that we had to sacrifice a whole Saturday in detention for whatever it was we did wrong. But we think you’re crazy to make an essay telling you who we think we are. You see us as you want to see us… In the simplest terms, in the most convenient definitions. But what we found out is that each one of us is a grain…</p>
    <p>…and a protein…</p>
    <p>…and a fruit basketcase…</p>
    <p>…a processed food…</p>
    <p>…and a cereal…</p>
    <p>Does that answer your question?</p>
    <br>
    <p>Sincerely yours, </p>
    <p><strong>the Breakfast Club</strong></p>
  </div>
</div>
