<div class="panel panel-default">
  <div class="panel-heading">
    <h2>{{(member | async)?.name}}</h2>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-5">
        <p><em>Type: </em>{{(member | async)?.type}}</p>
        <p><em>Calories: </em>{{(member | async)?.calories}}</p>
      </div>
      <div class="col-xs-7">
        <img [src]="(member | async)?.imgUrl" alt="member's profile picture">
      </div>
    </div>
    <hr>
    <p>{{(member | async)?.bio}}</p>
  </div>
</div>
