<div class="panel panel-default">
  <div class="panel-heading">
    <h3><span *ngIf="!memberToEdit">Add a new member!</span><span *ngIf="memberToEdit">Edit {{member.name}}</span></h3>
  </div>
  <div class="panel-body form-group">
    <form (ngSubmit)="submitForm(member)" #memberForm="ngForm">
    <label for="name">Name:</label>
    <input [(ngModel)]="member.name" #name="ngModel" id="name" name="name" class="form-control" required>
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
    </div>

    <label for="type">Type:</label>
    <select [(ngModel)]="member.type" #type="ngModel" id="type" name="type" class="form-control" required>
      <div [hidden]="type.valid || type.pristine" class="alert alert-danger">
          Type is required
    </div>
      <option value="Protein">Protein</option>
      <option value="Grain">Grain</option>
      <option value="Fruit">Fruit</option>
    </select>

    <label for="imgUrl">Image URL:</label>
    <input [(ngModel)]="member.imgUrl" #imgUrl="ngModel" id="imgUrl" name="imgUrl" class="form-control" required>
    <div [hidden]="imgUrl.valid || imgUrl.pristine" class="alert alert-danger">
          Image URL is required
    </div>

    <label for="calories">Calories:</label>
    <input [(ngModel)]="member.calories" #calories="ngModel" id="calories" name="calories" class="form-control" type="number" required>
    <div [hidden]="calories.valid || calories.pristine" class="alert alert-danger">
          Calories are required
    </div>

    <label for="bio">Biography:</label>
    <textarea ngDefaultControl [(ngModel)]="member.bio" #bio="ngModel" id="bio" name="bio" class="form-control" rows="5" required></textarea>
    <div [hidden]="bio.valid || bio.pristine" class="alert alert-danger">
          Biography is required
    </div>

    <button class="btn btn-success" type="submit" [disabled]="!memberForm.form.valid">
      <span *ngIf="!memberToEdit">Add Member</span><span *ngIf="memberToEdit">Done Editing</span>
    </button>

    <button *ngIf="memberToEdit" (click)=delete(member) class="btn btn-danger delete-button">Delete</button>
    </form>
  </div>
</div>
