img {
  height: 90px;
  width: 120px;
  position: relative;
}

h3 {
  position: relative;
  left: 30%;
  top: 5px;
  display: inline-block;
}

button {
  position: relative;
  left: 90%;
  bottom: 60px;
}

.well {
  height: 110px;
}

.clickable {
  cursor: pointer;
}
